.answerCard{
  min-height: 100px;

}
.answerBubble{
  height: 35px;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  background-color: black;
  color: white;
}

h2{
    margin-left: 5%;
}

.button-inner{
  color:black;
}

.dragDropCard{
  background-color:#6EA81A;;

}