.answerCard{
  min-height: 100px;
 

}
.answerBubble{
    height: 50px;
    width:120px;
    display: inline;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-left: 5%;
    background-color: peachpuff;

}
h2{
    margin-left: 5%;
}