<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    
    <ion-menu-button class="button-inner"></ion-menu-button>
    
    </ion-buttons>
    <ion-toggle style="float:right"></ion-toggle>
    <ion-title class="notification-header">Notifications</ion-title>
  </ion-toolbar>


  
</ion-header>

<ion-content>

  <app-notification></app-notification>

  <ion-card class="notifications">
    <p class="notifications-content">
      Hi Andreea. You have signed in in classroom D3.16 London
    </p>
    <p class="notifications-time">
      5 min ago
    </p>


    <ion-avatar>
      <img class="notifications-logo" src="assets/notifications-outline.svg">
    </ion-avatar>

  </ion-card>

  <ion-card class="notifications">
  <ion-avatar>
    <img class="notifications-logo" src="assets/notifications-outline.svg">
  </ion-avatar>
</ion-card>


<ion-card class="notifications">
  <ion-avatar>
    <img class="notifications-logo" src="assets/notifications-outline.svg">
  </ion-avatar>
</ion-card>
</ion-content>