<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    
    <ion-menu-button class="button-inner"></ion-menu-button>
    
    </ion-buttons>
    <ion-toggle style="float:right" checked=true></ion-toggle>
    <ion-title class="notification-header">Notifications</ion-title>
  </ion-toolbar>


  
</ion-header>

<ion-content>

  <p>New</p>

  <app-notification notificationBody="The CO2 level is too high!" quickFix="Quick fix: Open the Window." minsAgo="1" [minsEmpty]=true></app-notification>

  <app-notification notificationBody="You have now joined zone 1" minsAgo="4" [minsEmpty]=true></app-notification>

  <app-notification notificationBody="Hi Farhana. You have signed in in classroom D3.16 London" [minsEmpty]=true minsAgo="5" [showButton]=true buttonContent="Confirmed"></app-notification>


  <p>Previous</p>
  
  <app-notification notificationBody="Hi Farhana. You have signed in in classroom D2.08 Paris" [minsEmpty]=false hoursAgo="24" [showButton]=true buttonContent="Confirmed"></app-notification>
</ion-content>