<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      
    <ion-menu-button class="button-inner"></ion-menu-button>
    </ion-buttons>
    <ion-title>Connect</ion-title>
  </ion-toolbar>


  
</ion-header>

<ion-content>

  <div>
    <img class="card" style="max-width: 90%; margin-left: 5%; margin-top: 10%;" src="assets/student-id-card.jpg" routerLink="/card">
    <p>Ready to scan</p> 
    <img class="nearReaderImg" src="assets/NearReader.png" alt="" (click)="presentToast()">
    <p class="Info">Hold your phone near the scanner</p> 

    
  </div>

</ion-content>
