.button-inner{
    color:black;
}

.nearReaderImg{
    height: 70px;
    margin-left: 125px;
}

p{
    margin-left: 125px;
}

.Info{
    margin-left: 60px;
}

 ion-button::part(native){
   
    background-color: black;
  --background-activated: grey;
}

.cardConnected {
    --background: black;
    --color:blue;
    --width: 500px;
    --end: 50%;
    margin-left: 500px;;
}