<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      
    <ion-menu-button class="button-inner"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mood</ion-title>
  </ion-toolbar>


  
</ion-header>
<ion-content>


 <quiz-zone *ngIf="!responses1.includes('Not Good')" question="How are you doing today?" [answers]='answers1' [responses]='responses1'></quiz-zone>
 <quiz-zone *ngIf="responses1.includes('Not Good')" question="What's up?" [answers]='answers2' [responses]='responses2'></quiz-zone>
 
 
 

  
  <quiz-zone *ngIf="responses2.includes('Temperature')" question="Please choose from the following options that best describes your current state:" [answers]='answers3' [responses]='responses3'></quiz-zone>
  
   <!-------------------------------------------
  <ion-button *ngIf="responses2.includes('Smell')" class="proceedBtn">Continue to zones</ion-button>
  <ion-button *ngIf="responses2.includes('Wet')"class="proceedBtn">Continue to zones</ion-button>
  <ion-button *ngIf="responses2.includes('Dry')"class="proceedBtn">Continue to zones</ion-button>
  <ion-button *ngIf="responses2.includes('Headache')"class="proceedBtn">Continue to zones</ion-button>

  <ion-button *ngIf="responses3.includes('Feeling hot')"class="proceedBtn">Continue to zones</ion-button>
  <ion-button *ngIf="responses3.includes('Feeling cold')"class="proceedBtn">Continue to zones</ion-button>
  <ion-button *ngIf="responses3.includes('Feeling okay')"class="proceedBtn">Continue to zones</ion-button>
----->                                                                                                                

<ion-button class="proceedBtn" routerLink="/zones" *ngIf="
responses2.includes('It smells bad') ||
responses1.includes('Great')||
 responses2.includes('Wet') ||
 responses2.includes('Dry') ||
 responses2.includes('Headache') ||
 responses3.includes('Feeling hot') || 
 responses3.includes('Feeling cold') 

 
 
 
 ">Continue to zones</ion-button>



</ion-content>
