.button-inner{
    color: black;
}

.proceedBtn{
    margin-left: 25%;
    margin-right: 25%;
    display: block !important;
}

ion-button{
    --background: black;
    --background-activated:gray;
}

h2{
    font-size: small;
}