<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      
    <ion-menu-button class="button-inner"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mood</ion-title>
  </ion-toolbar>


  
</ion-header>
<ion-content>

<div>
  <ion-card class="moodIntro"> 
    <h2>
      Please drag and drop from the list below how the system can help improve your mood<br>
    </h2>
</ion-card>
</div>

 <quiz-zone *ngIf="!responses1.includes('Not Good')" question="How are you feeling today?" [answers]='answers1' [responses]='responses1'></quiz-zone>
 <quiz-zone *ngIf="responses1.includes('Not Good')" question="What's up?" [answers]='answers2' [responses]='responses2'></quiz-zone>
 
 
 

  
  <quiz-zone *ngIf="responses2.includes('Temperature')" question="Please choose from the following options that best describes your current state:" [answers]='answers3' [responses]='responses3'></quiz-zone>
  
   <!-------------------------------------------
  <ion-button *ngIf="responses2.includes('Smell')" class="proceedBtn">Continue to zones</ion-button>
  <ion-button *ngIf="responses2.includes('Wet')"class="proceedBtn">Continue to zones</ion-button>
  <ion-button *ngIf="responses2.includes('Dry')"class="proceedBtn">Continue to zones</ion-button>
  <ion-button *ngIf="responses2.includes('Headache')"class="proceedBtn">Continue to zones</ion-button>

  <ion-button *ngIf="responses3.includes('Feeling hot')"class="proceedBtn">Continue to zones</ion-button>
  <ion-button *ngIf="responses3.includes('Feeling cold')"class="proceedBtn">Continue to zones</ion-button>
  <ion-button *ngIf="responses3.includes('Feeling okay')"class="proceedBtn">Continue to zones</ion-button>
----->        

<p class="joinTip" *ngIf="responses2.length>0 || responses1.includes('Great')"> The system will adjust to your preferences and will assign you to a zone that is matching you the best.<br>  Then you just press on the zone to join it!</p>

<ion-button class="proceedBtn" routerLink="/zones" *ngIf="
responses2.includes('It smells bad') ||
responses1.includes('Great')||
 responses2.includes('I feel like it is wet') ||
 responses2.includes('I feel like it is dry') ||
 responses2.includes('I have a headache') ||
 responses2.includes('Feeling hot') || 
 responses2.includes('Feeling cold') 

 
 
 
 ">Continue to zones</ion-button>



</ion-content>
