<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      
    <ion-menu-button class="button-inner"></ion-menu-button>
    </ion-buttons>
   
  </ion-toolbar>


  
</ion-header>
<ion-content>
  <ion-slides pager=true> 
    <ion-slide>
    <ion-card >
      <img src="assets/dizzy.jpg">
     
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card >
      <img src="assets/dizzy.jpg">
     
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card >
      <img src="assets/dizzy.jpg">
     
    </ion-card>
  </ion-slide>

  <ion-slide><!------------------------------------LAST SLIDE-------------------------------------->
    <ion-card >
      <img src="assets/dizzy.jpg">
      
      <p style="margin-top: 200px;">Let's see what you know</p>
      <ion-button class="testKnowledgeButton" (click)="testClick()">Test your knowledge</ion-button>
    </ion-card>
  </ion-slide>
  </ion-slides>
</ion-content>
