ion-card{
    height:700px;
    padding-top: 25%;
    margin-bottom: 40px;
}
ion-slides{
   --bullet-background:black; 
   --bullet-background-active: black;  
}

.button-inner{
    color:black;
}
.testKnowledgeButton{
    --background: black;
    --background-activated:gray;
}

p{

    font-weight: bold;
    display:flex;
    margin-left: 5%;
    margin-right: 5%;
}

.gotoquiz {
 margin-top: -100px;

}