<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      
    <ion-menu-button class="button-inner"></ion-menu-button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>


  
</ion-header>

<ion-content>

<img class="studentId" src="assets/student-id-card.jpg" routerLink="/connect">
<img class="Id" src="assets/ID.JPG" routerLink="/connect">
<ion-button  class="addCardButton"><ion-icon style="width:40px; height:40px; margin-right: 3%;"   name="add-circle"></ion-icon>Add a new card</ion-button>
</ion-content>
