.addCardButton{
    width:90%;
    height:10%;
    margin-left:5%;
    margin-right:5%;
    --background:white;
    color:#6EA81A;
    border: 3px dashed #a9dafb;
border-radius: 5px;
font-size: 15pt;
--border-radius:5px;
--background-activated:rgb(212, 212, 212);
}

.button-inner{
    color:black;
}