.zone-layout
{
    margin-left: 1.5%;
    margin-right: 4%;
    margin-top: 6%;
    height: 46%;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
        ". ."
        ". .";
}
.zone {
    margin-left: 19%;
    margin-top: 4%;
    height: 95%;
    width: 94%;
    
}

.countBadge{
    position: absolute;
    margin-top: -5px;
    margin-left: 148px;
    z-index: 1;
    background-color: #6ea81a;
 
}

.badgeText{
    display: inline-flex;
    margin-left: 4px;
    vertical-align: text-top;
    display:inline-flex;
}

.matchPercentage{
    color: #000000;
    font-size: 38px;
    margin-top: 40%;
    margin-left: 30%;
}