

<div class='zone-layout'>

  
  <div *ngFor="let item of zones; let i=index">
    <ion-badge class="countBadge" > <ion-icon name="person" >  </ion-icon >  <div class="badgeText"> {{item.students.length}} </div>  </ion-badge>
  
  
      
      <ion-card (click)="zoneJoin()" *ngIf="max().matchPercentage==zones[i].matchPercentage" class='animLine' [ngStyle]="{'background-color':'rgba(110,168,24,'+item.matchPercentage/100+')'}" >
    <ion-card-subtitle class="zoneTitle">Zone {{i+1}}</ion-card-subtitle>
    
    <div  class="matchPercentage" >{{item.matchPercentage}}%</div>  
    <div class="bestMatch">BEST MATCH</div>
        
  <!--  <ion-icon class="studentIcon" *ngFor="let student of item.students"  name="person" style="width:30px;height:30px;"></ion-icon>-->
  </ion-card>

  <ion-card (click)="zoneJoin()" *ngIf="!(max().matchPercentage==zones[i].matchPercentage)" class='zone' [ngStyle]="{'background-color':'rgba(110,168,24,'+item.matchPercentage/100+')'}" >
    <ion-card-subtitle class="zoneTitle">Zone {{i+1}}</ion-card-subtitle>
   
    <div  class="matchPercentage" >{{item.matchPercentage}}%</div>  
        
  <!--  <ion-icon class="studentIcon" *ngFor="let student of item.students"  name="person" style="width:30px;height:30px;"></ion-icon>-->
  </ion-card>
  
  </div>
 

</div>


