.response {

height:50px;
display:flex;
justify-content: center;
text-align: center;
align-items: center;
align-content: center;
}

 ion-button::part(native){
    background-color: black;
}

ion-button::part(native){
    background-color: black;
}

.closeButton {
    color: white;
    --background-activated: grey;
}