
<ion-header>
  <ion-button class="closeButton"  (click)="closeModal()">close</ion-button>



 
  
</ion-header>

<ion-content>
            <ion-slides>
                      <ion-slide>
                                    <ion-card>
                                <img src="assets/windowOpen.gif">
                              </ion-card>
                  </ion-slide>
                  <ion-slide>
<app-learn-quiz> something </app-learn-quiz>

                  </ion-slide>
          </ion-slides>
</ion-content>
