
<ion-header>
  <ion-button (click)="closeModal()">close</ion-button>



 
  
</ion-header>

<ion-content>
            <ion-slides>
                      <ion-slide>
                                    <ion-card>
                                <img src="assets/windowOpen.gif">
                              </ion-card>
                  </ion-slide>
                  <ion-slide>

                   <p> How can high CO2 levels affect your health? </p>
                                  <ion-card class="response" cdkDrag>
                                    I lose concentration easily
                                
                                  </ion-card>
                                  <br>
                                  <ion-card class="response" cdkDrag>
                                    I am tired
                                  </ion-card>
                                  <br>
                                  <ion-card class="response" cdkDrag>
                                    I am anxious
                                  </ion-card>
                                  <br>
                                  <ion-card class="response" cdkDrag>
                                    I am sleepy
                                  </ion-card>
                                  <br>
                                  <ion-card class="response" cdkDrag>
                                    I feel dehydrated
                                  </ion-card>

                                  <ion-button>blablabla</ion-button>
                  </ion-slide>
          </ion-slides>
</ion-content>
