

<ion-card class="notifications">
  <p class="notifications-content">
   {{notificationBody}} <br/> 
   {{quickFix}}
  </p> 

  <div class="notifications-time">
    <div *ngIf="minsEmpty">
      {{minsAgo}} min ago
    </div> 

    <div *ngIf="!minsEmpty">
      {{hoursAgo}} H ago
    </div> 
  </div>

  <ion-button *ngIf="showButton" value="Confirmed">{{buttonContent}}</ion-button>


  <ion-avatar>
    <img class="notifications-logo" src="assets/notifications-outline.svg">
  </ion-avatar>

</ion-card>

