<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      
    <ion-menu-button class="button-inner"></ion-menu-button>
    </ion-buttons>
    <ion-title>Zones</ion-title>
   
  </ion-toolbar>


  
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Temperature in Roskilde is {{temperature}} °C</ion-card-header>
    <ion-card-content>Forecast: {{forecast}} 
     <br>
     Humidity:{{humidity}}%

    </ion-card-content>
  </ion-card>
 <!-- <img src="assets/Room-layout.png" alt="Room-layout" usemap="#roommap">
  <map name="roommap">
    <area shape="rect" coords="50,381,152,262" href="notifications">
    <area shape="rect" coords="249,378,363,258" href="learn">
    <area shape="rect" coords="253,187,365,59" href="quiz">
    <area shape="rect" coords="41,179,153,51" href="zones">
  </map>
  -->
</ion-content>
