.button-inner{
    color: black;
}
img {
    max-width: 100%;
    border: 0;
    margin-top: 360px;
}
dashboard{
    height: 200px;
    padding-top: 5%;
    margin-bottom: 40px;
    
}

ion-card-header{

    font-size: large;
    font-weight: bold;
    
}

.joinTip{
    height: 100px;
    display:flex;
    align-items: center;
    font-size: 18px ;
    justify-content: center;
}